<?xml version="1.0" encoding="utf-8"?>
<android.support.constraint.ConstraintLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:orientation="vertical"
    tools:context="gordey007.nfc.MainActivity">

    <Button
        android:id="@+id/competition"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="Режим соревнований"
        app:layout_constraintTop_toTopOf="parent"
        android:layout_marginTop="107dp"
        android:layout_marginRight="8dp"
        app:layout_constraintRight_toRightOf="parent"
        android:layout_marginLeft="8dp"
        app:layout_constraintLeft_toLeftOf="parent"
        style="@style/Button"/>

    <Button
        android:id="@+id/dbnfc"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="Занести NFC метки"
        android:layout_marginTop="33dp"
        app:layout_constraintTop_toBottomOf="@+id/competition"
        android:layout_marginLeft="8dp"
        app:layout_constraintLeft_toLeftOf="parent"
        android:layout_marginRight="8dp"
        app:layout_constraintRight_toRightOf="parent"
        style="@style/Button"/>

</android.support.constraint.ConstraintLayout>